{% extends "main.njk" %}

{% set title="PRSE" %}

{% block content %}
<div class="justify-content-center">
    <div class="col">
        <div class="text-center">
            <img src="/assets/img/logo_text_as_paths.svg" class="img-responsive center-block my-2" alt="PRSE">
            <h3>A C-like language for people who are tired of C/C++</h3>
        </div>
        <p>PRSE has</p>
        <ul>
            <li>syntax similar to C++, without all the fluff</li>
            <li>standard commands for printing, numeric operations, and much more</li>
            <li>dictionaries like Python</li>
            <li>class declarations similar to C#</li>
        </ul>
        <hr>
        <h4>Frequently Asked Questions:</h4>
        <div class="qa">
            <p class="q"><span>Q: </span>How do I pronounce "PRSE"?</p>
            <p class="a"><span>A: </span>Personally, I pronounce it like "parse," since
            the program parses your code and outputs appropriately. Some prefer to pronounce
            it like "purse." You may also opt to spell it out, i.e. "Pee-arr-ess-ee."</p>
        </div>
        <div class="qa">
            <p class="q"><span>Q: </span>PRSE looks like an acronym. What does it stand for?</p>
            <p class="a"><span>A: </span>PRSE never really had any intentional acronym for it.
            The first one I came up with was Potentially Really Stupid Experiment. Other suggestions
            have been:
            <ul>
                <li>Parsed Readable Symbolic Expression</li>
                <li>Programmable Response Significant Excellence</li>
                <li>PRactical Systems languagE</li>
            </ul>
            There is no real definitive acronym, truth be told. Make one up yourself! Tweet it at me!
            </p>
        </div>
        <!--<div class="qa">
            <p class="q"><span>Q: </span></p>
            <p class="a"><span>A: </span></p>
        </div>-->
    </div>
</div>
{%endblock%}