{% extends "docs_main.njk" %}
{% set doc_title="Basic PRSE syntax" %}

{% block content %}
<div class="row">
    <div class="my-5">
            <h1>Basic PRSE syntax</h1>
            <p>
                All PRSE programs need a <code>main</code> function somewhere in the code.
                As long as such a function exists, the code will execute when you run your program.
                <br>
                
            </p>
    </div>
</div>
{% endblock %}