{% extends "docs_main.njk" %}
{% set doc_title="Getting arguments from the command line" %}

{% block content %}
<div class="row">
    <div class="my-5">
        <h1>TODO</h1>
    </div>
</div>
{% endblock %}