{% extends "docs_main.njk" %}

{% set doc_title="Index" %}

{% block content %}
<div class="row">
    <div class="my-5">
            <h1>PRSE: Documentation</h1>
            <p>This section of the website contains documentation for all parts of the language.
                We will start with the very basics, and work our way from there. Have no fear! If you've
                ever used a C-like language before (such as C, C++, Java, JavaScript, or any other number of
                similar languages), then you'll be very familiar with PRSE's syntax.
                <h2><a href="/docs/installation">Let's get started.</a></h2>
            </p>
    </div>
</div>
{% endblock %}