{% extends "docs_main.njk" %}
{% set doc_title="the main function" %}

{% block content %}
<div class="row">
    <div class="my-5">
        <h1>The <code>main</code> function</h1>
        <p>As with all functions in PRSE, the main function is declared as follows:
        <pre><code>
        func main()
        </code></pre>
        There are a few rules associated with this function: first, <code>main</code> may
        only be a <code>void</code> return type, or an <code>int</code> return type. Second,
        the function definition cannot contain any parameters. If you wish to get arguments
        from the command line when you run your program, refer to <a href="/docs/command_line_args">getting
        arguments from the command line</a>.<br>

        
        </p>
    </div>
</div>
{% endblock %}