---
layout: docs_main.njk
title: Print function
---
{% block content %}
<div class="row">
    <div class="col-9 mx-auto my-5">
            <h1>Printing to <code>stdout</code></h1>
            <p>
                Usage:
                <pre><code>print(output: string);<br>print(output: interpolated_string);
                </code></pre>
                <code>output</code> can be of types:
                <ul>
                    <li>
                        <code>string</code>, a simple string. Example:<br>
                        <code>print("this is a string");</code><br>prints:<br>
                        <pre><code>this is a string</code></pre>
                        (note that <code>print()</code> does not explicitly add a <code>newline</code> character
                        to the end of your output. On the contrary, <code>println()</code> does)
                    </li>
                    <li>
                        <code>interpolated_string</code>, a special type of string
                        which processes special interpolation directives marked by '<code>{</code>' and '<code>}</code>'
                        characters. The text inside is replaced with the value of the variable, equation, or some other
                        valid expression that can be converted to a string (see: <a href="datatypes.html">datatypes in PRSE</a>).
                    </li>
                </ul>
            </p>
    </div>
</div>
{% endblock %}