{% extends "docs_main.njk" %}
{% set doc_title="Variables" %}

{% block content %}
<div class="row">
    <div class="my-5">
        <h1>Variables</h1>
        <p>
            <h3>Basic variable declaration:</h3>
            <h4>Scalar data types:</h4>
            <pre><code>
                let name: type = value;
            </code></pre>
            Where <code>name</code> is the name of the variable, <code>type</code>
            is its primitive (or user-created) type, and <code>value</code> is
            a value that matches the type. For instance, you might declare different
            variables with each available datatype as follows:
            <pre><code>
                let foo: bool = true;
                let bar: int = 2;
                let baz: double = 6.28;
                let clive: char = 'e';
                let klaus: string = "a string";
            </code></pre>
            <h4>Vector data types:</h4>
            <pre><code>
                let name: type[] = { value, value, value, ... };
            </code></pre>
            The same as before applies here, except for two notable changes: first, the
            <code>[]</code> characters after <code>type</code> indicate that this is a
            vector; second, the <code>{ value, value, value, ... }</code> syntax. Between
            the <code>{}</code> characters, you may type any valid value such as a function
            call, a variable, or a raw datatype, so long as the type matches that of the
            vector itself.
        </p>
    </div>
</div>
{% endblock %}