<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ title }}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="assets/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="assets/css/toggle-bootstrap.css" />
        <link rel="stylesheet" href="assets/css/toggle-bootstrap-dark.css" />
        <link rel="stylesheet" href="assets/css/toggle-bootstrap-print.css" />

        {#<style>
        .wrapper {
            display: flex;
            width: 100%;
            align-items: stretch;
        }

        #sidebar {
            min-width: 250px;
            max-width: 250px;
            background: #464646;
            border-radius: 0px 5px 5px 0px;
            color: #fff;
            transition: all 0.3s;
        }

        #sidebar.active {
            margin-left: -250px;
        }

        #sidebar ul.components {
            padding: 0px 0px 10px 0px;
        }

        #sidebar ul p {
            color: #fff;
            padding: 10px;
        }

        #sidebar ul li a {
            padding: 10px;
            font-size: 1.1em;
            display: block;
        }

        #sidebar ul li a:hover {
            color: #182738;
            background: #c0c0c0;
            border-radius: 0px 5px 5px 0px;
        }

        #sidebar ul li.active>a,
        a[aria-expanded="true"] {
            color: #fff;
            background: #6d7fcc;
        }
        </style>#}
    </head>

    <!--<nav class="navbar sticky-top navbar-expand-lg float-left navbar-dark navbar-nav" id="navbar-main">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="/">
                        Overview
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/download">
                        How to Install
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/docs/">
                        Documentation
                    </a>
                </li>
            </ul>
        </div>
    </nav>-->

    <div class="mb-auto float-right">
        <div class="nav-link">
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="darkSwitch" />
                <label class="custom-control-label" for="darkSwitch">Dark Mode</label>
            </div>
        </div>
    </div>

    <body id="body" class="bootstrap-dark">
            {% block navbar %}
            <nav class="navbar navbar-expand-lg navbar-themed">
                <ul class="list-unstyled components">
                    <li>
                        <a href="/">Main</a>
                    </li>
                    <li>
                        <a href="download">Download PRSE</a>
                    </li>
                    <li>
                        <a href="docs">Documentation</a>
                    </li>
                </ul>
            </nav>
            {% endblock %}

            <div class="container-fluid">
                <button class="navbar-toggler" type="button"
                        data-toggle="collapse" data-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>

                {% block content %}
                {% endblock %}
            </div>
            
        <script src="assets/js/jquery-3.5.1.min.js"></script>
        <script src="assets/js/bootstrap.bundle.min.js"></script>
        <script src="assets/js/dark-mode-switch.js"></script>
    </body>
</html>